.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.recruit_detail_title {
  margin-top: 20px;
  text-align: left;
}
.recruit_detail_button {
  border-radius: 10px; /* 원하는 값으로 변경 */
  background-color: EFEFEF;
  max-height: 24px;
}
.recruit_detail_name {
  color: #333;
  font-size: 18px;
  font-weight: 700;
}
.commnent_info_title {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #717171;
  margin-bottom: 10px;
}
.comment_info_content {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.comment_info_name {
  color: #333;
  font-weight: 700;
}
.comment_info_date {
  font-size: 14px;
  line-height: 126.5%;
  letter-spacing: -0.005em;
  color: #9f9f9f;
}
.comment {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: -0.004em;
  word-break: break-all;
}
